body
{
	background: #111122;
	color: #9999aa;
}


.container
{
	background: #333344;
}


@media (min-width: 1200px) {
  .container {
    width: 970px; /* Consider making this min or max-width */
  }
}


.icon
{
	height: 50px;
}

h1,h3
{
	text-align: center;
}

.screenshot-placeholder
{
	width: 100%;
}


.vert-space
{
	height: 20px;
}


.vert-space-small
{
	height: 10px;
}


.text-block
{
	vertical-align: middle;
}


.copyright
{
	text-align: center;
}
