body
{
	background: #111122;
	color: #aaaabb;
}


h1, h2, h3, h4, h5
{
	color: #ddddee;
}


dt
{
	color: #bbbbcc;
}


.container
{
	background: #333344;
}


/* Setting a max width */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


.header-top, .header-title
{
	text-align: center;
}


.icon
{
	height: 50px;
}

.screenshot-placeholder
{
	width: 100%;
}


.vert-space
{
	height: 20px;
}


.vert-space-small
{
	height: 10px;
}


.text-block
{
	vertical-align: middle;
}


.copyright
{
	text-align: center;
}


.standard-button
{
	width:180px;
}

a:link, a:visited
{
	//font-weight: bold;
	color: #5599ee;
}

a:hover, a:active
{
	//font-weight: bold;
	color: #77bbff;
}